$my-font: "Roboto Mono", monospace;

$primary-color: #699bf7;
$danger-color: #ff7b7b;
$danger-text: #ffdcdc;
$primary-text-btn-color: white;
$warning-color: #ffc701;
$warning-text-btn-color: #fff5d0;
