#editor {
    text-align: left;
    min-height: 12.5rem;
    height:auto;
}

.ql-toolbar button{
 transform: scale(.75) !important;
}

#editor p{
    text-align: left;
    font-size: .725rem !important;
    color: black;
}

#editor h1{
    text-align: left;
    font-size: 1.25rem !important;
    color: black;
}

#editor h2{
    text-align: left;
    font-size: 1rem !important;
    color: black;
}

#editor h3{
    text-align: left;
    font-size: .825rem !important;
    color: black;
}