#modal-btn {
    background-color: transparent;
    border-radius: 50%;
    font-size: 13px;
    color:black;
    display: inline-block;
}

modal-body {
    padding-right: 30;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

