/* || GENERAL STYLES */

header .btn {
	padding: 1rem 0;
	margin: 2px;
}

.user__info a {
	text-decoration: none;
}

.user__info i {
	font-size: 2rem;
	vertical-align: middle;
	margin-left: 1rem;
}

.user__info .item__text {
	font-size: 1.2rem;
	padding-top: 1rem;
}

.item__text {
	color: var(--FONT-COLOR);
	padding-left: 0.3rem;
}

.wrapper {
	align-items: stretch;
	display: flex;
	width: 100%;
}

.sidebar {
	width: 18rem;
	min-height: 90vh;
	border: rgba(0, 0, 0, 0.05) 2px solid;
	border-top: none;
}

.sidebar.collapsed {
	width: 4rem;
}

.sidebar.collapsed .item__text {
	display: none;
}

.sidebar ul {
	padding: 0 1rem;
}

.sidebar li {
	list-style: none;
}

.sidebar li a {
	text-decoration: none;
}

.sidebar__item {
	font-size: 1rem;
}

.sidebar__item i {
	font-size: 1.7rem;
	vertical-align: middle;
}

.sidebar__link {
	padding: 1.5rem 0;
	margin: 0;
	display: block;
}

.log__out {
	position: absolute;
	bottom: 0;
	color: red;
}

.log__out .item__text {
	color: red;
}
